-let path = "."
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet" href=path+"/style.css")
        script(src=path+"/js/functions.js")
    body
        header.container.main-header
            a.main-header__logo(href="")
                img(src=path+"/img/icons/logo.svg" alt="CVS")
            div.main-header__lang.lang
                span.lang__text ru
                button.lang__arrow
            nav.main-header__menu.menu
                a.menu__link.telegram(href="")
                    span.btn.square
                    span.telegram__text Telegram
                a.menu__link(href="")
                    img(src=path+"/img/icons/googleplay.svg" alt="googleplay")
        main.container
            h1.caption Alerts
            include templates/alerts-pair
        .popup-wrapper
            include templates/popup-login
            include templates/popup-signup
            include templates/popup-pwd
        script(src=path+"/js/popup.js")


