.alerts.alerts-pair
    .alerts-top
        .btn.btn-dark.text-16.text-lg-20.text-medium(data-sort="pairs" data-type="up") Pairs
        .btn.text-16.text-lg-20.text-medium(data-sort="index" data-type="up") Index
        .btn.btn-dark.text-16.text-lg-20.text-medium(data-sort="distance" data-type="up") Distance
        span.text-16.text-lg-20.text-medium Volume
        span.text-16.text-lg-20.text-medium Price
        span.text-16.text-lg-20.text-medium Charts
        span.text-16.text-lg-20.text-medium Exchance chart
    .alerts-top_mobile
        .btn.btn-dark
            .text-16.text-bold Index
            .alerts-top__icon.up
    .alerts-container
        .alerts__line
            div.pairs(data-type="pairs")
                .text-16.text-lg-25.text-bold 10SET / USDT
                img.pairs__img(src=path + "/img/custom/pic1.png" alt="10SET/USDT")
            div.text-16.text-lg-20.text-bold.text-green(data-type="index") 4
            div.text-16.text-lg-20.text-bold.text-red(data-type="distance") 53.84%
            div.text-16.text-lg-20.text-bold.text-green(data-type="volume") 3500000.00
            div.text-16.text-lg-20.text-bold.text-green(data-type="price") 0.0000344
            hr.separator
            .btn.btn_chart Charts
            .btn.outline.btn_arrow
                img(src=path+"/img/partners/huobiglobal.svg" alt="huobiglobal")
        .alerts__line
            div.pairs(data-type="pairs")
                .text-16.text-lg-25.text-bold 1000XEC / USDT
                img.pairs__img(src=path + "/img/custom/pic2.png" alt="1000XEC / USDT")
            div.text-16.text-lg-20.text-bold.text-green(data-type="index") 3
            div.text-16.text-lg-20.text-bold.text-green(data-type="distance") 53.84%
            div.text-16.text-lg-20.text-bold.text-green(data-type="volume") 533992.94
            div.text-16.text-lg-20.text-bold.text-red(data-type="price") 0.0000347
            hr.separator
            .btn.btn_chart Charts
            .btn.outline.btn_arrow
                img(src=path + "/img/partners/upbit.svg" alt="upbit")
        .alerts__line
            div.pairs(data-type="pairs")
                .text-16.text-lg-25.text-bold  18C / BTC
                img.pairs__img(src=path + "/img/custom/pic3.png" alt="18C / BTC")
            div.text-16.text-lg-20.text-bold.text-green(data-type="index") 2
            div.text-16.text-lg-20.text-bold.text-green(data-type="distance") 99.95%
            div.text-16.text-lg-20.text-bold.text-green(data-type="volume") 5143.23
            div.text-16.text-lg-20.text-bold.text-green(data-type="price") 0.00003447
            hr.separator
            .btn.btn_chart Charts
            .btn.outline.btn_arrow
                img(src=path + "/img/partners/huobiglobal.svg" alt="huobiglobal")
        .alerts__line
            div.pairs(data-type="pairs")
                .text-16.text-lg-25.text-bold  100X / USDT
                img.pairs__img(src=path + "/img/custom/pic4.png" alt="100X / USDT")
            div.text-16.text-lg-20.text-bold.text-green(data-type="index") 1
            div.text-16.text-lg-20.text-bold.text-green(data-type="distance") 53.84%
            div.text-16.text-lg-20.text-bold.text-red(data-type="volume") 1404.19
            div.text-16.text-lg-20.text-bold.text-green(data-type="price") 5.203e-7
            hr.separator
            .btn.btn_chart Charts
            .btn.outline.btn_arrow
                img(src=path + "/img/partners/kucoin-grey.svg" alt="kucoin")
        .alerts__line
            div.pairs(data-type="pairs")
                .text-16.text-lg-25.text-bold  1EARTH / USDT
                img.pairs__img(src=path + "/img/custom/pic5.png" alt="1EARTH / USDT")
            div.text-16.text-lg-20.text-bold.text-green(data-type="index") 1
            div.text-16.text-lg-20.text-bold.text-green(data-type="distance") 0.00%
            div.text-16.text-lg-20.text-bold.text-green(data-type="volume") 1571.40
            div.text-16.text-lg-20.text-bold.text-green(data-type="price") 0.000002
            hr.separator
            .btn.btn_chart.text-14.text-sm-16.text-lg-17.text-medium Charts
            .btn.outline.btn_arrow
                img(src=path + "/img/partners/huobiglobal.svg" alt="huobiglobal")


