h1.text-18.text-sm-24.text-md-32.text-xl-40.text-bold.text-center
    |A&#32;
    span.text-orange new generation
    |&#32;cryptocurrency density screener
p.p-1.text-14.text-sm-16.text-xl-20.text-center Get a competitive advantage in trading. Increase the mathematical expectation of your trade.
ul.infoblock.text-10.text-xs-11.text-sm-14.text-md-16.text-xl-17.text-center
    li.infoblock__item
        img(src=path+"/img/icons/bank.svg" alt="10 largest exchanges in the world")
        .infoblock__text 10 largest exchanges in the world
    li.infoblock__item
        img(src=path+"/img/icons/pairs.svg" alt="more than 7000 trading pairs")
        .infoblock__text
            |more than&#32;
            span.text-bold 7000
            |&#32;trading pairs
    li.infoblock__item
        img(src=path+"/img/icons/gear.svg" alt="flexible search settings")
        .infoblock__text flexible search settings
    li.infoblock__item
        img(src=path+"/img/icons/diagram.svg" alt="Charts")
        .infoblock__text Charts
    li.infoblock__item
        img(src=path+"/img/icons/bell.svg" alt="Sound alerts")
        .infoblock__text Sound alerts
ul.partners.partners-marquee
    li.partners__item
        img(src=path+"/img/partners/binance.svg" alt="binance")
    li.partners__item
        img(src=path+"/img/partners/gateio.svg" alt="gate.io")
    li.partners__item
        img(src=path+"/img/partners/bybit.svg" alt="bybit")
    li.partners__item
        img(src=path+"/img/partners/binfut.svg" alt="binance futures")
    li.partners__item
        img(src=path+"/img/partners/huobiglobal.svg" alt="HuobiGlobal")
    li.partners__item
        img(src=path+"/img/partners/ftx.svg" alt="FTX")
    li.partners__item
        img(src=path+"/img/partners/kraken.svg" alt="kraken")
    li.partners__item
        img(src=path+"/img/partners/kucoin.svg" alt="KuCoin")
    li.partners__item
        img(src=path+"/img/partners/coinbase.svg" alt="coinbase")
    li.partners__item
        img(src=path+"/img/partners/mxc.svg" alt="MXC")
nav.auth-menu
    a.btn.btn_h-45.btn_h-sm-55.btn_w-full.btn_w-md-300(href="") Get Started
    a.btn.btn_h-45.btn_h-sm-55.btn_w-full.btn_w-md-300.btn_outline(href="" data-action="signin") Log in




